/* ✅Reset */
body,
ul,
p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  color: inherit; /*해더에게 물려받게됨*/
  text-decoration: none;
}

/* ✅Typography */

html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

/* ✅Commons */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.l_wrapper {
  max-width: 980px;
  width: auto;
  padding: 0 30px;
  margin: 0 auto;
}

/* ✅Components */

body {
  font-size: 1.4rem;
  background-image: url(./images/people-2567915_1920.jpg);
  background-attachment: fixed;
  background-position: center;
}

.header {
  color: black;
  padding: 20px 0;
  position: relative;
  opacity: 1;
}

.header-logo {
  float: left;
  background-image: url(./images/l1l1.png);
  width: 68px;
  height: 40px;
  background-size: cover;
  text-indent: -9999px;
  display: block;
  transform: scale(1);
}

.header-logo:hover {
  transform: scale(3);
  transition: transform 0.7s;
}

.menu {
  width: 200px;
  margin: 10% auto;
  color: #666;
}

.menu li {
  margin-bottom: 10px;
}

.menu li h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  background-color: rgba(48, 47, 47, 0.5);
  padding-top: 10px;
}

.menu li p {
  padding-top: 10px;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(48, 47, 47, 0.5);
}

.kakao {
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 5px 0;
  display: block;
  position: relative;
  background-color: yellow;
}

.kakao a h3 {
  float: right;
  margin-right: 40px;
  color: brown;
}

.kakao a h3:hover {
  font-style: italic;
}

.kakao-bg img {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateX(-1px);
  border-radius: 5px;
}

.google {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 5px 0;
  display: block;
  position: relative;
  background-color: white;
}

.google a h3 {
  float: right;
  margin-right: 40px;
  color: black;
}

.google a h3:hover {
  font-style: italic;
}

.google-bg img {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateX(-1px);
  border-radius: 10px;
}

.github {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 0;
  display: block;
  position: relative;
  background-color: black;
}

.github a h3 {
  float: right;
  margin-right: 40px;
  color: white;
}

.github a h3:hover {
  font-style: italic;
}

.github-bg img {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 32px;
  transform: translateX(-1px);
  transform: translateY(-1px);
  border-radius: 5px;
}

/* ✅Mediaqueries */

/* Pc */

/* Table */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 480px) {
}
