doctype html
html(lang="ko")
    head
        title 어제가 좋았다, 린도
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="./front/indexStyle.css")
    body
        .header
            .l_wrapper.l_header
                .header-inside.clearfix
                    a.header-logo(href="") LINDO
                    ul.header-menu
                        li
                            .search
                                input.search-input(type="text", placeholder="검색")
                        li
                            a(href="./boardWrite.html") 글쓰기
                            a(href="./signin.html") 시작하기
        
        .cover
            .l_wrapper
                .cover-contents
                    h1 어제가 좋았다, 린도
                    p
                        blockquote 어제가 좋았다 오늘도 어제가 좋았다
                        blockquote 어제가 좋았다, 매일
                        blockquote 내일도 어제가 좋을 것이다
                        blockquote
                            cite
                                strong 황인숙 `희망` 중에서
        
        .section
            .l_wrapper.clearfix
                .l_sidebar
                    .section-title
                        h2 어제를 보세요
                        p 누군가의 어제에요
                
                .l_main
                    ul.l_row.l_row_narrow.clearfix

                        li.l_con.l_col_8_12.l_col_mobile_12_12
                            a(href="./boardDetail.html")
                            .item
                                img.item-cover(src="DSC_4119.jpg", alt="")
                                h3 콜롬비아에서
                        li.l_con.l_col_8_12.l_col_mobile_12_12
                            a(href="./boardDetail.html")
                            .item
                                img.item-cover(src="DSC_4119.jpg", alt="")
                                h3 콜롬비아에서
                        li.l_con.l_col_8_12.l_col_mobile_12_12
                            a(href="./boardDetail.html")
                            .item
                                img.item-cover(src="DSC_4119.jpg", alt="")
                                h3 콜롬비아에서
                
        .section
            .l_wrapper.clearfix

                l_sidebar.l_sidebar_right
                    .section-title
                        h2 LINDO WRITERS
                        p 추천 작가
                
                .l_main
                    ul.l_row.l_row_narrow.clearfix

                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서
                        
                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서
                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서

                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서
                        
                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서

                        li.l_col.l_col_4_12.l_col_mobile_12_12
                            .item
                                img.item-cover(src="./images/SouthAmerica/DSC_4206.jpg")
                                a(href="#")
                                    img(src="./images/sinnim.jpg")
                                h4
                                    a(href="./boardList.html") 아르헨티나에서
        
        .footer
            .l_wrapper
                .footer-contents.clearfix
                    .l_sidebar.l_sidebar_right
                        img.footer-logo(src="./images/foot-logo5.png")
                    .l_main
                        ul.footer-menu
                            li.footer-menu-item
                                h3 Helpful Links
                                ul
                                    li
                                        a(href="#") How to shop
                                    li
                                        a(href="#") Product availability
                                    li
                                        a(href="#") IKEB Cards
                            li.footer-menu-item
                                h3 Helpful Links
                                ul
                                    li
                                        a(href="#") How to shop
                                    li
                                        a(href="#") Product availability
                                    li
                                        a(href="#") IKEB Cards
                            li.footer-menu-item
                                h3 Helpful Links
                                ul
                                    li
                                        a(href="#") How to shop
                                    li
                                        a(href="#") Product availability
                                    li
                                        a(href="#") IKEB Cards
                .footer-copyright
                    span &copy; Lindo #{new Date().getFullYear()}




                        
                            












                